# =========================
# ENVIRONMENT
# =========================
NODE_ENV=production
DEBUG=True
# =========================
# FRONTEND DOMAINS
# =========================
# .env.production  â† CORRECT
REACT_APP_MYJOB_HOST_NAME=imyanya.rw
REACT_APP_EMPLOYER_MYJOB_HOST_NAME=employers.imyanya.rw



# =========================
# BACKEND API (Koyeb)
# =========================
REACT_APP_API_BASE_URL=https://philosophical-ariel-novarwa-4fd2a870.koyeb.app

# =========================
# MYJOB SERVER AUTH (OAUTH2)
# =========================
REACT_APP_MYJOB_SERVER_CLIENT_ID=1pzcfWgYzmE6vKcu55OmJWLdj8imvSmTp3BN8pib
REACT_APP_MYJOB_SERVER_CLIENT_SECRET=wUwlBHN39BbrRNAYIEraqFXBxxKFYTEXgIJy038zYW1VjftYwqFLATpmCPp3cz2rAfZsm2WnVPa0BFtPOjnSvZLE5IVenwuxVrRxSr7JPclIFZibcrJHz9pHmd6FGUYb


# =========================
# FACEBOOK AUTH
# =========================
REACT_APP_FACEBOOK_CLIENT_ID=ZIN1DVYemh5N5HiF22Tf5XfeVoZj7M2Otkpswwam
REACT_APP_FACEBOOK_CLIENT_SECRET=iEBX9PmX5yrv2Viqbsnf4EzVjTOnGB0fRCKNLKbl2JLepRK8Dd0kyD87XaASquqpsXasKcdOd6zhrsqzeLHPUoyfooeUKrCKJExf0ejwIhPbM2dfES6C4Ij2Fj6vdSBm

# =========================
# GOOGLE AUTH
# =========================
REACT_APP_GOOGLE_CLIENT_ID=139891808970-92vejo6c8f9pdik09v2e33dctokrar08.apps.googleusercontent.com
REACT_APP_GOOGLE_CLIENT_SECRET=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

# =========================
# MAP / LOCATION API
# =========================
REACT_APP_GOOGLE_MAPS_API_KEY=AIzaSyB78e8jKa2MKh0jCnad391tJci4fbzTX4M
# Maps / location
REACT_APP_GOONGAPI_KEY=K53vZym1XNkk6VAnAVNqZxQ25IWaFbVYF5JqQuFV

# =========================
# WHATSAPP CONTACT
# =========================
REACT_APP_WHATSAPP_PHONE=250789690247
REACT_APP_WHATSAPP_MESSAGE=Hello Imyanya, I need help.

# =========================
# FIREBASE
# =========================
# Firebase configuration (React)

REACT_APP_FIREBASE_API_KEY=AIzaSyDRckjiQT6r5iW8LGbDWfJrbPuJDATQQ0k
REACT_APP_FIREBASE_AUTH_DOMAIN=imyanyabackend.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=imyanyabackend
REACT_APP_FIREBASE_STORAGE_BUCKET=imyanyabackend.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=139891808970
REACT_APP_FIREBASE_APP_ID=1:139891808970:web:a6b0a4a29c1d9d71a67233
REACT_APP_FIREBASE_DATABASE_URL=https://imyanyabackend-default-rtdb.firebaseio.com/



